body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullwidth {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
}


@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}