{{define "navbar"}}
    <link rel="stylesheet" href="/static/css/nav.css">

    <a href="/"><img class="icon-house" src="/static/img/svg/house-solid.svg" title="Home" alt="House Icon"></a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>


{{end}}